doctype html
html
  head
    title Nueva Categorias
  body
      
    form(action="/categories" method="POST")
        textarea(name="title" placeholder="Qué Categoria vas a guardar")
        br
        textarea(name="color" placeholder="color")
        input(type="submit" value="Guardar")